cameraSwapTimeLock = 8
cameraPositionTimeLock = 0.8
reverseFBT = False
reverseShoulder = False
controlMovementThreshold = 0.1
controlVerticalMovementThreshold = 2
removeAvatarInsteadOfHead = True
disableTopCamera = True
disableFBTCamera = False
disableFPSCamera = False
disableGunCamera = False
inBetweenCameraEnabled = False
FPSCameraOverride = False
cameraVerticalLock = True
cameraShoulderPositioningTime = 2
cameraShoulderDistance = 1.8
cameraShoulderAngle = 20
cameraShoulderSensitivity = 2
cameraBodyVerticalTargetOffset = 0.5
cameraBodyPositioningTime = 1.8
cameraBodyLookAtForward = 0.1
cameraBodyDistance = 1.4
cameraBodyAngle = 55
cameraBodySensitivity = 2
averageHandsWithHead = False
useDominantHand = False
rightHandDominant = True
cameraGunFov = 80
cameraFovLerp = False
cameraGunHeadAlignAngleTrigger = 15
cameraGunHeadDistanceTrigger = 0.3
cameraGunEyeVerticalOffset = 0.15
cameraGunMaxTwoHandedDistance = 0.6
cameraGunMinTwoHandedDistance = 0.15
cameraGunSmoothing = 0.2
alwaysHaveAvatarInFrame = True
cameraBodyUseRoomOriginCenter = False
cameraShoulderUseRoomOriginCenter = False
cameraShoulderFollowGaze = True
cameraBodyFollowGaze = True
minimumCameraDistance = 0.4
useEyePosition = True
rightEyeDominant = True
linearCameraMovement = False