cameraSwapTimeLock = 10
cameraPositionTimeLock = 4
reverseFBT = False
reverseShoulder = False
controlMovementThreshold = 1
controlVerticalMovementThreshold = 0.1
forwardVerticalOffset = 0
forwardHorizontalOffset = 5
removeAvatarInsteadOfHead = True
disableTopCamera = True
disableFBTCamera = True
disableFPSCamera = True
disableGunCamera = True 
inBetweenCameraEnabled = False
FPSCameraOverride = False
cameraVerticalLock = True
cameraShoulderPositioningTime = 4
cameraShoulderDistance = 2
cameraShoulderAngle = 35
cameraShoulderSensitivity = 1
cameraBodyVerticalTargetOffset = 0.1
cameraBodyPositioningTime = 4
cameraBodyLookAtForward = 0.5
cameraBodyDistance = 2
cameraBodyAngle = 45
cameraBodySensitivity = 1
averageHandsWithHead = True
useDominantHand = False
rightHandDominant = True
cameraFovLerp = False
cameraGunHeadAlignAngleTrigger = 15
cameraGunHeadDistanceTrigger = 0.25
cameraGunEyeVerticalOffset = 0.15
cameraGunMaxTwoHandedDistance = 0.4
cameraGunMinTwoHandedDistance = 0.08
cameraGunSmoothing = 0.2
alwaysHaveAvatarInFrame = True
cameraBodyUseRoomOriginCenter = True
cameraShoulderUseRoomOriginCenter = True
cameraShoulderFollowGaze = False
cameraBodyFollowGaze = False
minimumCameraDistance = 0.4
motionControl = True
useEyePosition = True
rightEyeDominant = True
linearCameraMovement = False